examples/sample.json
[
  {
      "id": "79a556c530eab8f0",
      "type": "debug",
      "z": "e0e3e454efb53b1d",
      "name": "debug",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 520,
      "y": 200,
      "wires": []
  },
  {
      "id": "e27f11680864959a",
      "type": "simple-gemini-vision",
      "z": "e0e3e454efb53b1d",
      "name": "",
      "prompt": "何が写っている？",
      "promptType": "str",
      "Token": "",
      "x": 320,
      "y": 2700,
      "wires": [
          [
              "79a556c530eab8f0"
          ]
      ]
  },
  {
      "id": "9984a80fb5390830",
      "type": "inject",
      "z": "e0e3e454efb53b1d",
      "name": "",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "https://1.bp.blogspot.com/-5S8rmtezagQ/UnyHakT62TI/AAAAAAAAajc/TsAKmkq0wIE/s800/nihonchizu_area.png",
      "payloadType": "str",
      "x": 130,
      "y": 200,
      "wires": [
          [
              "e27f11680864959a"
          ]
      ]
  }
]